.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
.gitignore
log/*
tmp/*
tmp/**
.idea
*~
*\~
*.raw
*.dta
db/*.sqlite3
db/schema.rb
oldsite/.*
*.~lock*
spec/rockonruby/log/
spec/rockonruby/log/*
spec/rockonruby/tmp/
spec/rockonruby/tmp/*
spec/rockonruby/tmp/**
.*.swp
.DS_Store
spec/rockonruby/tmp/cache/*

