#notice {
border: 2px solid red;
padding: 1em;
margin-bottom: 2em;
background-color: #f0f0f0;
font: bold smaller sans-serif;
}

body {
font-family: Arial, Verdana, sans-serif;
font-size: 13px;
background-color: #ffffff;
}

#banner {
}

#banner img {
}

#columns {
  background: #006699;
}

#main {
width: 95%;
margin-left: auto;
margin-right: auto;
padding-top:  1em;
padding-left: 1em;
background: white;
border: 1px;
border-width: 3px; 
border-style: solid; 
}

#side {
float: left;
padding-top: 1em;
padding-left: 1em;
padding-bottom: 1em;
width: 8em;
background: #006699;
color: #ffffff;
font-size: 20px;
}

h1 {
font: 100% sans-serif;
color: #226;
border-bottom: 3px dotted #77d;
padding-bottom: 1em;
}

#rockonruby-list .list-title {
color: #244;
}

#rockonruby-list .list-one-sheet {
font-family: Arial, Verdana, sans-serif;
font-size: x-small;
width: 60px;
height: 70px;
}

#rockonruby-list .list-actions {
font-size: x-small;
text-align: right;
padding-left: 1em;
}

#rockonruby-list .list-line-even {
background: #f0f0f0;
}

#rockonruby-list .list-line-odd {
background: #d0d0d0;
}

#home-link {
}

a:link { 
	color: #002388;
}
	
a:visited { 
	color: #000388;
}
	
a:hover { 
	color: #000fff;
	background-color: #0f0f0f;
	text-decoration: none;
}
	
a:active { 
	color: #001388;
}
		
table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px;
  border-width: 1px; 
  border-style: solid; 
}	
		
td {
  margin-left: auto;
  margin-right: auto;
  text-alighn: left;
}
	
fieldset {
  border: 1px;
  border-width: 1px; 
  border-style: solid; 
}	

#blocked {
  border: 1px;
  border-width: 1px; 
  border-style: solid; 
}	

#pagination {
}

#pagination.em {
  font: small, sans-serif;
}

